<% if @cart.empty? %>
<p>The cart is empty</p>
<% end %>


<div id="itemsContainer">
    <table id="customers">
        <% total = 0 %>
        
        <% @cart.each do |id, quantity| %> 
        
         <% item = Item.find_by_id(id) %>
         
         <tr>
             <td>
                 <div class="image">
           
                 <%= link_to (image_tag item.image_url, :style =>"height:40px"), item %>
                 </div>
             </td>
             
             <td class="title">
                 <%= link_to item.title, item %>
             </td>
             
             <td class="title">
              <a href="/cart/remove/<%= item.id %>">Remove From Cart</a>   
            </td>
            
            <td>
                <a href="cart/increase/<%= item.id %>" >Increase Items<i class='fas fa-arrow-alt-circle-down'></i></a></td>
            </td>
            
            <td>
                <a href="cart/reduce/<%= item.id %>" >Reduce Items<i class='fas fa-arrow-alt-circle-down'></i></a></td>
            </td>
          
          
            <td class="price">
               <%= number_to_currency(item.price, :unit =>"€") %>  
            </td>
            
            <td class="quantity"><%= quantity %></td>
            
            <td ="price"><%= number_to_currency(quantity * item.price, :unit =>"€") %></td>
             
         </tr>
         
         
             <% total += quantity * item.price %> 
             
         
        <% end %>
        
          <tr></tr>
            
           <tr>Total Amount : <%= number_to_currency(total, :unit =>"€") %> </tr>
        
    </table>
    
    <a href="/items" class="button">Continue Shopping</a>
    <a href="/cart/clear" class="button">Clear Cart</a>
    <a href="/checkout/" class="button">Checkout</a>

    
</div>